body{

    display: grid;
    place-items: center;

}
.cont{

width: 50%;
height: 100vh;
display: grid;
place-items: center;

}

.card{

border: 2px solid #13544e;
width: 90%;
height: 60%;
text-align: center;
display: grid;
place-items: center;
border-radius: 10px;

}


.flex{

display: flex;
}

.sub_card{

width: 300px;
border: 1px solid #13544e;
border-radius: 10px;
margin: 3%;
padding: 2%;
text-align: left;
box-shadow: 1px 1px 5px black;

}

.sub_card:hover{

background-color: #13544e;
color: #fff;
cursor: cell;

}

.a{

background-color: #fff;
border: 2px solid #13544e;
color: #13544e;
border-radius: 20px;
font-size: 15px;
padding: 5px 8px;
text-decoration:none ;
}